* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f3;
}

/* header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
} */

.container {
  /* border: 2px solid red; */
  width: 1360px;
}

.cabeca {
  position: fixed;
  width: 100vw;
  height: 94px;
  margin-left: -15%;
  display: flex;
  justify-content: center;
  background-color: #f1f2f3;
  z-index: 2;
  /* border: 2px solid red; */
}

.nav-bar {
  /* border: 2px solid red; */
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 70%;
  height: 90px;
  align-items: center;
  padding: 0px 27px;
  background-color: #f1f2f3;
  z-index: 1;
}

.links a {
  padding: 32px 15px;
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease;
}

a:hover {
  color: #0d6efd;
}

.btn {
  font-weight: 500;
  line-height: 1;
  padding: 1rem 1.5rem;
  border-radius: 0.375rem;
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
  font-weight: 600;
  margin-left: 48px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: #0859d1;
}

.btn-2 {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  width: 200px;
  margin: 30px 0px 0px;
  padding: 16px 24px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 0 0 0.25rem #ffc107b4;
  transition: 0.2s ease;
}

.btn-2:hover {
  /* opacity: 1; */
  color: #000;
  background-color: #ebb207;
  border-color: #ebb207;
  box-shadow: 0 0 0 0.25rem #ebb207;
}

svg {
  /* border: 2px solid red; */
  margin: 0px 0px 0px 16px;
}

.container-2 {
  /* border: 2px solid red; */
  border-bottom: 1px solid rgba(131, 131, 131, 0.365);
  height: 100vh;
  max-width: 2500px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-1 {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 660px;
  height: 550px;
}

.card-2 {
  /* border: 1px solid blue; */
  width: 550px;
  height: 596px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-titulo {
  display: flex;
  align-items: center;
  margin: 0px 0px 16px;
}

.titulo {
  display: block;
  width: 650px;
  font-size: 4rem;
  margin: 0px 0px 32px;
  line-height: 81px;
  color: #151e2e;
  /* border: 2px solid red; */
}

.palavra {
  color: #f4284a;
}

.paragrafo {
  font-size: 1.25rem;
  /* border: 1px solid blue; */
  width: 600px;
  letter-spacing: 0.1rem;
  line-height: 35px;
}

.palavra-2 {
  color: #0d6efd;
}

.foto img {
  width: 526px;
  height: 526px;
  border-radius: 10px;
}

.foto {
  position: relative;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto .play {
  position: absolute;
  width: 95px;
  height: 95px;
  /* top: 0;
  left: 0; */
  z-index: 1;
  border-radius: 100%;
  box-shadow: 7px 2px 8px rgba(0, 0, 0, 0.493);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.play:hover {
  transform: scale(1.2);
}

#fade,
#card-modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.forma-1 {
  position: absolute;
  width: 150px;
  height: 300px;
  background-color: #f4284a;
  border-radius: 7rem 1rem;
  right: 250px;
  bottom: 150px;
}

.linhas {
  width: 120%;
  height: auto;
  border-radius: 7rem 1rem;
}

.forma-2 {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #f1c40f;
  border-radius: 7rem 1rem 7rem 7rem;
  bottom: 140px;
  left: 1060px;
}

.forma-3 {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #0d6efd;
  border-radius: 1rem 1rem 7rem;
  top: 230px;
  left: 1078px;
}

.segunda-section {
  /* border: 2px solid red; */
  width: 100%;
  height: 1363px;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cabecario-2 {
  /* border: 2px solid red; */
  width: 1320px;
  height: 218px;
  margin: 0px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.msg-cabecario-2 {
  color: #0f3132;
  background: #d1e7dd;
  /* border: 2px solid red; */
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  margin: 0px 0px 10px;
  padding: 10px 25px;
  display: inline-block;
  text-transform: capitalize;
}

.titulo-cabecario-2 {
  /* border: 2px solid red; */
  font-size: 44px;
  font-weight: 600;
  margin: 0px 0px 16px;
  color: #151e15;
}

.linha {
  width: 120px;
  height: 5px;
  margin: 10px auto 0;
  background: linear-gradient(to right, #e24997, #2d2ed4);
}

.section-cards {
  /* border: 2px solid red; */
  width: 1350px;
  height: 932px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quadro-1 {
  border: 1px solid rgba(128, 128, 128, 0.27);
  max-width: 400px;
  height: 262px;
  margin: 48px 24px 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.img-boot {
  width: 72px;
  background: #ebebeb;
  margin: 0px 0px 24px;
  padding: 16px;
  border-radius: 6px;
}

.img-npm {
  width: 114px;
  background: #ebebeb;
  margin: 0px 0px 24px;
  padding: 16px;
  border-radius: 6px;
}

.img-gulp {
  width: 48px;
  background: #ebebeb;
  margin: 0px 0px 24px;
  padding: 16px;
  border-radius: 6px;
}

.img-pug {
  width: 84px;
  background: #ebebeb;
  margin: 0px 0px 24px;
  padding: 16px;
  border-radius: 6px;
}

.img-dark {
  width: 70px;
  background: #ebebeb;
  margin: 0px 0px 24px;
  padding: 16px;
  border-radius: 6px;
}

.img-sass {
  width: 74px;
  background: #ebebeb;
  margin: 0px 0px 24px;
  padding: 16px;
  border-radius: 6px;
}

#img-modern {
  /* width:34px; */
  background: #ebebeb;
  margin: 0px 0px 24px;
  padding: 16px;
  border-radius: 6px;
}

#img-raio {
  /* width:34px; */
  background: #ebebeb;
  margin: 0px 0px 24px;
  padding: 16px;
  border-radius: 6px;
}

.titulo-boot {
  font-size: 24px;
  font-weight: 600;
  margin: 0px 0px 16px;
  color: #151e2e;
}

.paragrafo-card {
  font-size: 16px;
  color: #848aa6;
  text-align: center;
}

.terceira-section {
  /* border: 1px solid red; */
  width: 100%;
  height: 530px;
  padding: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e24997, #2d2ed4);
}

h3 {
  font-size: 2.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  color: #e5f0eb;
}

.btn-terceira-section {
  /* border: 1px solid blue; */
  padding: 16px 24px;
  background-color: #ffc107;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.btn-terceira-section:hover {
  background-color: #fbc41f;
  color: #000;
}

.container-terceira-section {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 966px;
  height: 270px;
}

.container-footer {
  border-bottom: 1px solid rgba(131, 131, 131, 0.365);
  width: 100%;
  height: 663px;
  padding: 130px 0px;
  display: flex;
  justify-content: center;
  background-color: #151e2e;
  color: #848aa6;
}

.suporte-container-footer {
  /* border: 2px solid red; */
  width: 1344px;
  height: 451px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-footer {
  /* border: 1px solid blue; */
  width: 336px;
  height: 403px;
  margin: 48px 0px 0px;
  padding: 0px 24px;
}

.card-footer-menu {
  /* border: 1px solid red; */
  width: 100%;
  height: 80%;
  margin: 28px 0px 0px;
  /* padding: 0px 24px; */
}

.titulo-card-footer {
  font-size: 20px;
  margin: 0px 0px 32px;
  color: #fff;
}

.sub-titulo-card-footer {
  font-size: 20px;
  margin: 48px 0px 23px;
  color: #fff;
}

ul {
  list-style-type: none;
}

.card-footer-menu a {
  /* border: 2px solid red; */
  outline: none;
  text-decoration: none;
  display: block;
  margin-bottom: 0.825rem;
  color: #ffffffa6;
  transition: 0.2s ease;
}

.card-footer-menu a:hover {
  color: #f1c40f;
}

.btn-app {
  /* border: 1px solid red; */
  width: 288px;
  height: 127px;
}

.google-play img {
  width: 180px;
  height: 51px;
  margin-bottom: 1rem;
}

.Apple-store img {
  width: 180px;
  height: 51px;
}

.formulario {
  display: flex;
  /* border: 1px solid white; */
  flex-direction: column;
  width: 288px;
  height: 118px;
}

.email {
  width: 288px;
  height: 50px;
  margin-bottom: 0.7rem;
  border-radius: 0.375rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn-form {
  font-weight: 500;
  line-height: 1;
  padding: 1rem 1.5rem;
  border-radius: 0.375rem;
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
  display: inline-block;
  width: 132px;
  height: 52px;
  cursor: pointer;
}

.footer-btns {
  /* border: 2px solid red; */
  width: 100%;
  height: 121px;
  padding: 48px 0px;
  display: flex;
  justify-content: center;
  background-color: #151e2e;
  color: #e5f0eb;
}

.container-footer-btns {
  /* border: 2px solid red; */
  width: 1344px;
  display: flex;
  justify-content: space-between;
}

.link-paragrafo {
  text-decoration: none;
  color: #e5f0eb;
  font-weight:600;
  transition: .3s ease;
}

.link-paragrafo:hover{
  color:#0d6efd;
}

#redes-sociais svg:hover {
  fill: #ebb207;
}

#fade {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  /* border: 1px solid red; */
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 495px;
  max-width: 95%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #fff; */
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#card-modal {
  /* border: 2px solid red; */
  width: 850px;
  height: 495px;
  position: relative;
  display: flex;
  justify-content: center;
}

#fechar {
  position: absolute;
  cursor: pointer;
  top: -20px;
  right: 20px;
  width: 30px;
  height: 30px;
  opacity: 0.4;
  z-index: 99;
  transition: 0.2s ease;
}

#fechar:hover {
  opacity: 1;
}

#fade.hide,
#card-modal.hide {
  opacity: 0;
  pointer-events: none;
}

.info {
  color: red;
  background-color: #ebebeb;
  width: 300px;
  height: 29px;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  border-radius: 6px;
  margin-top: -2%;
}

@media (max-width: 1366px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .container {
    /* border: 2px solid red; */
    max-width: 1250px;
    height: 100vh;
  }

  .container-2 {
    display: flex;
    justify-content: center;
    padding: 250px;
  }

  .titulo {
    font-size: 3rem;
    line-height: 59px;
    width: 580px;
    /* border: 2px solid; */
  }

  .card-1 {
    /* border: 2px solid red; */
    padding-right: 90px;
  }

  .card-2 {
    /* border: 2px solid red; */
    padding: 250px;
    margin-top: 25px;
  }

  .foto .foto-mulher {
    /* border: 1px solid red; */
    width: 468px;
    height: 468px;
  }

  .cabeca {
    /* border: 1px solid black; */
    width: 99vw;
    right: 0;
  }

  .nav-bar {
    /* border: 1px solid black; */
    width: 90vw;
    margin-top: 0px;
    padding-bottom: 0;
  }

  .forma-1 {
    bottom: 30px;
    right: 85px;
    width: 110px;
    height: 250px;
  }

  .forma-2 {
    left: 750px;
    bottom: 40px;
    width: 90px;
    height: 90px;
  }

  .forma-3 {
    width: 120px;
    height: 120px;
    left: 750px;
    top: 95px;
  }
}
